.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
    border: 4px solid navajowhite;

}

.site-footer {
    background-color: #000;
    color: #515151;
    border: 4px solid red;
}
